.flag{
width: 24px;
height: 24px;
margin-right: 2px;
}

.showsidebarnav{
    display: none;
}
.setsearchbarwidth{
  width: 50%;
}
.plus-img {
  position: fixed;
  bottom: 20px;
  right: 4%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.instructordropzone {
	width: 90%;
	height: 230px;
  background-color: #1D191C1A;
	border: 1px dashed #1D191C;
	border-radius: 16px;
	text-align: center;
  padding: 10px;
  /* color: red; */
}

.instructorupload-icon {
	margin: 200px 2px 2px 2px;
}

.instructorupload-input {
  cursor: pointer;
	position: relative;
	top: -118px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	/* border: 1px solid red; */
padding-top: 100px;
padding-bottom: 100px;
}
.instructordropzoneuploadimg {
	width: 90%;
	height: 230px;
	border-radius: 16px;
  
  /* color: red; */
}
.instructoruploadimg-input {
  cursor: pointer;
  width: 32px;
  height: 32px;
	opacity: 0;
	position: absolute;
  bottom: 10px;
  right: 12%;
}
.instructoruploaded-image{
width:100%;
height: 230px;
border-radius: 16px;
}
.instructordropzoneuploadimg-container {
  position: relative;
}

.bottom-right-image {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 12%;
}
.instructordropzoneuploadvideo {
	width: 90%;
	height: 230px;
	border-radius: 16px;
  
  /* color: red; */
}
.instructoruploadvideo-input {
  cursor: pointer;
	position: relative;
	top: -210px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	/* border: 1px solid red; */
padding-top: 100px;
padding-bottom: 100px;
}
.instructoruploaded-video{
  width:100%;
height: 230px;
border-radius: 16px;
}
.instructoruploadassignment-input {
	position: relative;
opacity: 0;
padding-top: 100px;
padding-bottom: 100px;
}
  .sidebarbtn {
    
    color: #9E9E9E; /* Change text color for active link */
  }
  .sidebartext{
    color: #9E9E9E;
  }
  .sidebarbtncolor {
    background-color: #fff; /* Change background color for active link */
    color: #1D191C; /* Change text color for active link */
    .sidebartext{
        color: #1D191C; 
      }
  }
  .formfieldwidth{
    width: 92%;
  }
  .uploadbookinput{
    background-color: #FAFAFA;
     height: 52px;
     border-top-left-radius: 16px;
     border-bottom-left-radius: 16px;
     border-top-right-radius: 0px;
     border-bottom-right-radius: 0px
  }
  .uploadbookbrowse{
    background-color: #FAFAFA;
     height: 52px;
     padding-top: 12px;
     border-top-right-radius: 16px;
     border-bottom-right-radius: 16px;
     border-top-left-radius: 0px;
     border-bottom-left-radius: 0px;
     font-weight: bold;
  }
  
  @media (min-width: 768px) {
.instructorcontactusmargin{
  margin-top: 12vh;
}
    .instructorcoursedetailsmidborder{
        border-left:1px solid #E2E2E2;
    }
    .instructorcreatecoursemidborder{
      border-right:1px solid #E2E2E2;
      margin-right: 1%;
  }
  .instructorprogresstrackingmidborder{
    border-right:1px solid #E2E2E2;
    padding-right: 2%;
    
  }
  .instructorprogresstrackingadjust{
    padding-left: 2%;
    
  }
  .paddingtoadjustmidcreatecourse{
    padding-left: 40px;
  }
  }
  @media (max-width: 768px) {
      .sidebarhide {
        display: none;
      }
      .showsidebarnav{
         display: block;
      }
      .setsearchbarwidth{
        width: 100%;
      }
      
    }
  
  