*{
  font-family: 'Urbanist';
}
.eighteenfont{
  /* font-size:1.14vw; */
  font-size: 18px;
}
.btn-info{
  background-color: #1D191C;
  border: none;
  color: white;
}
.btn-info:hover{
  background-color: #2b2a2a;
  border: none;
  color: white;
}
.text-default{
  color: #1D191C;
}

