*{
  font-family: 'Urbanist';
  color: '#1D191C';
}
.eighteenfont{
  /* font-size:1.14vw; */
  font-size: 18px;
}
.btn-info{
  background-color: #1D191C;
  border: none;
  color: white;
}
.btn-info:hover{
  background-color: #2b2a2a;
  border: none;
  color: white;
}
.text-default{
  color: #1D191C;
}
.text-low{
  color:#7F7F7F
}
.text-subheading{
  color:#7F7F7F;
  font-size: 20px;
  font-weight: 300;
}

